<%= javascript_include_tag 'jquery/jquery-1.9.1.min.js', :plugin => 'schedular' %>
<%= javascript_include_tag 'colpick-color-picker/js/colpick.js', :plugin => 'schedular' %>
<%= stylesheet_link_tag 'colpick-color-picker/colpick.css', :plugin => 'schedular' %>


<div id="schedulars_settings">
  <%= render :partial => "schedulers/form", :locals => {:project => @project} %>
  <%= render :partial => "schedulers/list", :locals => {:project => @project} %>
</div>