<tr class="version open <%= cycle('odd','even') %>" id="<%= schedule.id %>">
  <td><%= schedule.title %></td>
  <td><%= schedule.license %></td>
  <td class="color-square"><div style="width: 16px; height: 16px; margin-right: 5px; display: inline-block; background-color: <%= schedule.color%>"></div><%= schedule.color %></td>
  <td class="buttons">
    <%= link_to "編集", project_scheduler_path(schedule.project, schedule),
                       :class => "icon icon-edit schedule_edit" %>
    <%= link_to "削除", project_scheduler_path(schedule.project, schedule),
                       :remote => true, :method => :delete,
                       :class => "icon icon-del schedule",
                       :confirm => "よろしいですか？" %>
  </td>
</tr>
