<!DOCTYPE html>

<html ng-app='calendarApp'>
  <head>
    <title>リソース予約システム</title>
    <meta charset='UTF-8'>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag 'jquery/jquery-2.0.3.min.js', :plugin => 'schedular' %>
    <%= javascript_include_tag 'jquery-ui/fullcalendar-1.6.4/lib/jquery-ui.custom.min.js', :plugin => 'schedular' %>
    <%= javascript_include_tag 'angular/v1.0.7/angular.min.js', :plugin => 'schedular' %>
    <%= javascript_include_tag 'angular/v1.0.7/angular-resource.min.js', :plugin => 'schedular' %>
    <%= javascript_include_tag 'jquery-ui/v1.10.3/fullcalendar.js', :plugin => 'schedular' %>
    <%= javascript_include_tag 'bootstrap-gh-pages/ui-bootstrap-0.5.0.min.js', :plugin => 'schedular' %>
    <%= javascript_include_tag 'bootstrap-gh-pages/ui-bootstrap-tpls-0.5.0.min.js', :plugin => 'schedular' %>
    <%= javascript_include_tag 'angular-ui/calendar.js', :plugin => 'schedular' %>
    <%= javascript_include_tag 'pochi_calendar.js', :plugin => 'schedular' %>

    <%= stylesheet_link_tag 'fullcalendar.css', :plugin => 'schedular' %>
    <%= stylesheet_link_tag 'original-fullcalendar.css', :plugin => 'schedular' %>
    <%= stylesheet_link_tag 'bootstrap-combined.min.css', :plugin => 'schedular' %>
  </head>

  <body ng-controller='CalendarCtrl'>
    <script type="text/ng-template" id="notification.html">
      <div class='modal-header'>
        <h3>{{notificationMessageContent}}</h3>
      </div>
      <div class='modal-footer'><button class='btn' ng-click='closeNotification()'>
        OK
      </div>
    </script>

    <script type="text/ng-template" id="license_list.html">
        <h5 class='license_list_title'>ライセンスリスト</h5>
        <ul>
          <div ng-repeat='license in licenses' class='license_list' id='licence_{{ license.id }}' ng-click='switchLicense()'>
            <div class='color_box' ng-style="bgstyle(license.color)"></div>
            <div class='license_title ng-class:license.visiable'>{{ license.title }}</div>
          </div>
        </ul>
    </script>

    <script type="text/ng-template" id="event_form.html">
      <div class="modal-header">
        <h3>{{ currentEvent.title }}</h3>
        <a ng-show='currentEvent.deleteable' ng-click='deleteEvent()'>x 削除</a>
      </div>
      <div class="modal-body">
        <div class="alert-error calAlert">
          <h4>{{ currentEvent.alert }}</h4>
        </div>
        <div class="event_form">
          <form novalidate ng-init="formEvent.eventId = eventId">
            <table cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <th class="form_left">日時:</th>
                  <td>{{ formEvent.start_date() }} ~ {{ formEvent.end_date() }}</td>
                </tr>
                <tr>
                  <th class="form_left">申請者:</th>
                  <td>
                    <input ng-model="formEvent.current.user"
                           ng-init="formEvent.current.user = '<%= User.current.name %>'"
                           size="25" type="text" required>
                  </td>
                  <td class="error" ng-show="!formEvent.current.user">申請者は必須項目です</td>
                </tr>
                <tr>
                  <th class="form_left">チーム名:</th>
                  <td>
                    <select ng-model="formEvent.current.team_id"
                            ng-init="formEvent.current.team_id = team_id" required>
                      <%= team_options %>
                    </select>
                  </td>
                  <td class="error" ng-show="!formEvent.current.team_id">チーム名は必須です</td>
                </tr>
                <tr>
                  <th class="form_left">ライセンス:</th>
                  <td>
                    <select class="license"
                            ng-model="formEvent.current.schedule_id"
                            ng-init="formEvent.current.schedule_id = schedule_id" required>
                      <%= license_options(@schedules) %>
                    </select>
                  </td>
                  <td class="error" ng-show="!formEvent.current.schedule_id">ライセンスは必須です</td>
                </tr>
                <tr>
                  <th class="form_left">備考:</th>
                  <td>
                    <input ng-model="formEvent.current.content"
                           ng-init="formEvent.current.content = title"
                           size="25" type="text">
                  </td>
                </tr>
              <tbody>
            </table>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" ng-click="closeEventForm()">キャンセル</button>
        <button class="btn" ng-click="createEvent()">{{ currentEvent.submitText }}</button>
      </div>
    </script>

    <div class='row-fluid'>
      <div class='span2'>
        <h4 class='header' style='height: 42px; padding: 5px; margin-left: 10px; color: gray;'>
          リソース予約
        </h4>
        <div license_list></div>
        <div id="teams" data-articles="<%= teams %>"></div>
        <div modal="notificationMessage" notification_modal></div>
        <div modal="eventForm" event_form_modal></div>
      </div>
      <div class='span10' style='margin-top: 10px;'>
        <div ui-calendar='uiConfig.calendar' ng-model='eventSources' config='uiConfig.calendar' calendar='myCalendar'></div>

        <div modal="newReservation" close="dialogClose()" options="opts">
          <div class="modal-header">
            <h3>{{ modalOpts.title }}</h3>
            <a ng-show='modalOpts.delete' ng-click='deleteEvent()'>x 削除</a>
          </div>
          <div class="modal-body">
            <div class="alert-error calAlert">
              <h4>{{alertEventMessage}}</h4>
            </div>
            <!-- [TODO] Form以下のレイアウトを正しく直す -->
            <form name="newEvent" novalidate ng-init="newEvent.eventId = eventId">
              <select id="event_start_date_1i"
                      name="event[start_date(1i)]"
                      ng-model="newEvent.startYear"
                      ng-options="year for year in option_years"
                      ng-init="newEvent.startYear = startYear"
                      required>
              </select>
              <select id="event_start_date_2i"
                      name="event[start_date(2i)]"
                      ng-model="newEvent.startMonth"
                      ng-options="month for month in option_months"
                      ng-init="newEvent.startMonth = startMonth"
                      required>
              </select>
              <select id="event_start_date_3i"
                      name="event[start_date(3i)]"
                      ng-model="newEvent.startDate"
                      ng-options="day for day in option_days"
                      ng-init="newEvent.startDate = startDate"
                      required>
              </select>
            -
              <select id="event_end_date_1i"
                      name="event[end_date(1i)]"
                      ng-model="newEvent.endYear"
                      ng-options="year for year in option_years"
                      ng-init="newEvent.endYear = endYear"
                      required>
              </select>
              <select id="event_end_date_2i"
                      name="event[end_date(2i)]"
                      ng-model="newEvent.endMonth"
                      ng-options="month for month in option_months"
                      ng-init="newEvent.endMonth = endMonth"
                      required>
              </select>
              <select id="event_end_date_3i"
                      name="event[end_date(3i)]"
                      ng-model="newEvent.endDate"
                      ng-options="day for day in option_days"
                      ng-init="newEvent.endDate = endDate"
                      required>
              </select>
              <br>
              <span class="error" ng-show="dateIsNotFilled(newEvent)">日付は必須項目です</span>

              <br>
            申請者<br>
              <input id="event_user"
                     name="event[user]"
                     ng-model="newEvent.user"
                     ng-init="newEvent.user = '<%= User.current.name %>'"
                     size="30"
                     type="text"
                     required>
              <br>
              <span class="error" ng-show="!newEvent.user">申請者は必須項目です</span>
              <br>
            チーム名<br>
              <select class="team"
                      name="event[team]"
                      ng-model="newEvent.team"
                      ng-init="newEvent.team = team"
                      required>
                <%= team_options %>
              </select>
              <br>
              <span class="error" ng-show="!newEvent.team">チーム名は必須項目です</span>
              <br>
            ライセンス<br>
              <!-- selectオプションに出てくるundefinedはAngularのバグ -->
              <select class="license"
                      ng-model="newEvent.license"
                      ng-init="newEvent.license = license"
                      name="event[license]"
                      required>
                <%= license_options(@schedules) %>
              </select>
              <br>
              <span class="error" ng-show="!newEvent.license">ライセンスは必須項目です</span>
              <br>
            備考<br>
              <input id="event_content"
                     name="event[content]"
                     ng-model="newEvent.content"
                     ng-init="newEvent.content = title"
                     size="30"
                     type="text"
                     required>
              <br>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn" ng-click="dialogClose()">キャンセル</button>
            <button class="btn" ng-click="createEvent(newEvent)" ng-disabled="newEvent.$invalid">{{ modalOpts.submitText }}</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
