<!DOCTYPE html>

<html ng-app='calendarApp'>
  <head>
    <title>リソース予約システム</title>
    <meta charset='UTF-8'>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag 'jquery/jquery-2.0.3.min.js', :plugin => 'schedular' %>
    <%= javascript_include_tag 'jquery-ui/fullcalendar-1.6.4/lib/jquery-ui.custom.min.js', :plugin => 'schedular' %>
    <%= javascript_include_tag 'angular/v1.0.7/angular.min.js', :plugin => 'schedular' %>
    <%= javascript_include_tag 'angular/v1.0.7/angular-resource.min.js', :plugin => 'schedular' %>
    <%= javascript_include_tag 'jquery-ui/v1.10.3/fullcalendar.js', :plugin => 'schedular' %>
    <%= javascript_include_tag 'bootstrap-gh-pages/ui-bootstrap-0.5.0.min.js', :plugin => 'schedular' %>
    <%= javascript_include_tag 'bootstrap-gh-pages/ui-bootstrap-tpls-0.5.0.min.js', :plugin => 'schedular' %>
    <%= javascript_include_tag 'angular-ui/calendar.js', :plugin => 'schedular' %>
    <%= javascript_include_tag 'pochi_calendar.js', :plugin => 'schedular' %>

    <%= stylesheet_link_tag 'fullcalendar.css', :plugin => 'schedular' %>
    <%= stylesheet_link_tag 'original-fullcalendar.css', :plugin => 'schedular' %>
    <%= stylesheet_link_tag 'bootstrap-combined.min.css', :plugin => 'schedular' %>
  </head>

  <body ng-controller='CalendarCtrl'>
    <script type="text/ng-template" id="notification.html">
      <div class='modal-header'>
        <h3>{{notificationMessageContent}}</h3>
      </div>
      <div class='modal-footer'><button class='btn' ng-click='closeNotification()'>
        OK
      </div>
    </script>

    <script type="text/ng-template" id="license_list.html">
        <h5 class='license_list_title'>ライセンスリスト</h5>
        <ul>
          <div ng-repeat='license in licenses.current' class='license_list' id='licence_{{ license.id }}' ng-click='switchLicense()'>
            <div class='color_box' ng-style="bgstyle(license.color)"></div>
            <div class='license_title ng-class:license.visible'>{{ license.title }}</div>
          </div>
        </ul>
    </script>

    <script type="text/ng-template" id="event_form.html">
      <div class="modal-header clearfix">
        <h3 style="float: left;">{{ currentEvent.title }}</h3>
        <a ng-show='formEvent.deleteable' ng-click='deleteEvent()' style="float: right">x 削除</a>
      </div>
      <div class="modal-body">
        <div class="alert-error calAlert">
          <h4>{{ currentEvent.alert }}</h4>
        </div>
        <div class="event_form">
          <form novalidate ng-init="formEvent.current.event_id = formEvent.current.event_id || event_id">
            <table cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <th class="form_left">日時:</th>
                  <td>{{ formEvent.start_date() }} ~ {{ formEvent.end_date() }}</td>
                </tr>
                <tr>
                  <th class="form_left">申請者:</th>
                  <td>
                    <input ng-model="formEvent.current.username"
                           ng-init="formEvent.current.username = formEvent.current.username || '<%= User.current.name %>'"
                           size="25" type="text" required>
                  </td>
                  <td class="error" ng-show="!formEvent.current.username">申請者は必須項目です</td>
                </tr>
                <tr>
                  <th class="form_left">チーム名:</th>
                  <td>
                    <select ng-model="formEvent.current.team_id"
                            ng-init="formEvent.current.team_id = formEvent.current.team_id || team_id" required>
                      <%= team_options %>
                    </select>
                  </td>
                  <td class="error" ng-show="!formEvent.current.team_id">チーム名は必須です</td>
                </tr>
                <tr>
                  <th class="form_left">ライセンス:</th>
                  <td>
                    <select class="license"
                            ng-model="formEvent.current.schedule_id"
                            ng-init="formEvent.current.schedule_id = formEvent.current.schedule_id || schedule_id" required>
                      <%= license_options(@schedules) %>
                    </select>
                  </td>
                  <td class="error" ng-show="!formEvent.current.schedule_id">ライセンスは必須です</td>
                </tr>
                <tr>
                  <th class="form_left">備考:</th>
                  <td>
                    <input ng-model="formEvent.current.content"
                           ng-init="formEvent.current.content = formEvent.current.content || title"
                           size="25" type="text">
                  </td>
                </tr>
              <tbody>
            </table>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" ng-click="closeEventForm()">キャンセル</button>
        <button class="btn" ng-click="create_or_update()">{{ currentEvent.submitText }}</button>
      </div>
    </script>

    <div class='row-fluid'>
      <div class='span2'>
        <h4 class='header' style='height: 42px; padding: 5px; margin-left: 10px; color: gray;'>
          リソース予約
        </h4>
        <div license_list></div>
        <div id="teams" data-articles="<%= teams %>"></div>
        <div id="period" data-articles="<%= max_period %>"></div>
        <div modal="notificationMessage" notification_modal></div>
        <div modal="eventForm" event_form_modal></div>
      </div>
      <div class='span10' style='margin-top: 10px;'>
        <div ui-calendar='uiConfig.calendar' ng-model='eventSources' config='uiConfig.calendar' calendar='myCalendar'></div>
      </div>
    </div>
  </body>
</html>
