<tr class="version open <%= cycle('odd','even') %>" id="<%= content.id %>">
  <td><%= content.name %></td>
  <td class="buttons">
    <%= link_to "編集", scheduler_custom_list_content_path(content),
                       :class => "icon icon-edit scheduler_custom_list_content_edit" %>
    <%= link_to "削除", scheduler_custom_list_content_path(content),
                       :remote => true, :method => :delete,
                       :class => "icon icon-del scheduler_custom_list_content",
                       :confirm => "よろしいですか？" %>

  </td>
</tr>
